<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class = "text-center text-success" font-s="600">404</h1>
    <div class="text-center">
    <img src="/static/dog.404-removebg-preview.png" class ="mx-auto">
    <img src = "/static/dog-removebg-preview.png" style="height: 30m;">
    </div>
    <h1> OH NO! MY DOG ATE THE PAGE</h1>
    <p>We couldn't find the page you were looking for. :(</p>
    <p></p>
   </div>
</body>
</html>