<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title> I'm Social</title>

    
    </head>
    <body>
        <h1>Post Feed</h1>
        {% for post in posts %}
            <div>
                <img src="{{post['post_image']}}" width="200">
                <p>{{post['post_text']}}</p>
            </div>
        {% endfor %} 
    </body>


</html>